.Stations {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 3rem;
}

.Station:first-child {
  grid-column: 2 / span 1;
}

.Station:nth-child(3) {
  grid-column: 2 / span 1;
}

@media screen and (max-width: 720px) {
  .Stations {
    height: 100%;
    grid-template-columns: 100%;
  }

  .Station:first-child {
    grid-column: 1 / span 1;
  }

  .Station:nth-child(3) {
    grid-column: 1 / span 1;
  }

  .Station:last-child {
    padding-bottom: 4rem;
  }
}