.App {
  background-color: black;
  color: white;
  position: relative;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 8rem;
  overflow-y: auto;
}

.Navigation {
  background-color:white;
  box-shadow: 0 0.125rem 2rem rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  padding: 1.5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Navigation__logo {
  max-height: 24px;
}

.Error {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: 70%;
  height: 100%; 
}

.Error__message {
  display: block;
  width: 100%;
  margin-top: auto;
}

.Error details {
  margin-bottom: auto;
}

.Error p {
  font-family: monospace;
}


@media screen and (max-width: 720px) {
  .Error {
    overflow-y: auto;
    max-width: 80%;
  }
}