.App {
  background-color: black;
  color: white;
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 8rem;
}

.Navigation {
  background-color:white;
  box-shadow: 0 0.125rem 2rem rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  padding: 1.5rem;
  width: 100%;
}

.Navigation__logo {
  max-height: 24px;
}

.Stations {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 3rem;
}

.Station {
  user-select: none;
  display: inline-flex;
  justify-content: center;
  align-items: space-around;
  flex-wrap: wrap;
  text-align: center;
}

.Station:first-child {
  grid-column: 2 / span 1;
}

.Station:nth-child(3) {
  grid-column: 2 / span 1;
}

.Station__codename {
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
}

.Station__image {
  display: block;
  max-height: 128px;
  user-select: none;
}

.Station__availability {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

.Station__availability-label {
  margin-left: 0.5rem;
  font-size: 1.25rem;
  width: 100%;
  margin-top: 1rem;
}

.Station__available,
.Station__unavailable {
  display: inline-block;
}

.Station__available {
  background-color: #107C10;
  box-shadow: 0px 0px 2rem 2rem rgba(16, 124, 16, 0.5);
  border-radius: 50%;
  height: 1.5rem;
  width: 1.5rem;
}

.Station__unavailable {
  background-color: red;
  box-shadow: 0px 0px 2rem 2rem rgba(255, 0, 0, 0.5);
  border-radius: 50%;
  height: 1.5rem;
  width: 1.5rem;
}

.Station__eta-label {
  display: block;
  font-size: 1.25rem;
}

.Station__eta-value {
  display: block;
  width: 100%;
  font-size: 1.55rem;
}

.Error {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: 70%;
  height: 100%; 
}

.Error__message {
  display: block;
  width: 100%;
  margin-top: auto;
}

.Error details {
  margin-bottom: auto;
}

.Error p {
  font-family: monospace;
}


@media screen and (max-width: 720px) {
  .App {
    padding-top: 8rem;
  }

  .Stations {
    height: 100%;
    grid-template-columns: 100%;
    overflow-y: auto;
  }

  .Station:first-child {
    grid-column: 1 / span 1;
  }

  .Station:nth-child(3) {
    grid-column: 1 / span 1;
  }

  .Station:last-child {
    padding-bottom: 4rem;
  }

  .Station__image {
    max-width: 10rem;
  }

  .Error {
    overflow-y: auto;
    max-width: 80%;
  }
}